{% extends 'base.html.twig' %}

{% block title %}New BikeType{% endblock %}

{% block content %}
<div class="row content">
    <h1>Create new BikeType</h1>
    <div class="col-12">

        {{ include('bike_type/_form.html.twig') }}

        <a href="{{ path('bike_type_index') }}">back to list</a>
    </div>
</div>
{% endblock %}
